:root {
  /* colors */
  --clr-base-0: hsl(0, 0%, 100%);
  --clr-base-100: hsl(0, 0%, 90%);
  --clr-base-200: hsl(0, 0%, 80%);

  /* accents */
  --clr-blue-500: hsl(217, 31%, 28%);
  --clr-blue-700: #1F2C43;
  --clr-red-500: hsl(4, 43%, 29%);
  --clr-red-600: hsl(4, 43%, 35%);
  --clr-red-700: hsl(4, 43%, 40%);
  --clr-red-800: hsl(4, 43%, 45%);
  --clr-green-400: hsl(67, 28%, 29%);
  --clr-neutral-400: hsl(43, 19%, 93%);
  --clr-neutral-500: hsl(43, 19%, 85%);
  --clr-black-500: hsl(0, 0%, 0%);
  --clr-gray-500: hsl(0, 0%, 50%);
  --clr-gray-600: hsl(0, 0%, 65%);

  /* extras */
  /* --ff-body: var(--ff-black-500); */


  /* font */
  --ff-primary: 'Roboto',
    sans-serif;

  /* font weights */
  --fw-regular: 400;
  --fw-medium-bold: 500;
  --fw-bold: 700;

  /* font sizes */
  --fs-primary: 16px;
  --fs-secondary-lg: 36px;
  --fs-secondary-sm: 14px;
  --fs-tercerary: 21px;

  /* space padding */
  --size-100: .1rem;
  --size-200: .25rem;
  --size-300: .5rem;
  --size-400: .75rem;
  --size-500: 1rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 3rem;
  --size-900: 4rem;


  /* to do: fontsize: body and navbar sizing might not needed? */
  /* --fs-body:
  --fs-nav: 
  --fs-button: */

}



/* to do resizing */
/* 
@media (min-width: 50em) {
  :root {}
} */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
  have it above so commented out
*/
/* input,
button,
textarea,
select {
  font: inherit;
} */

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* utility classes */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* text colors */
.txt-clr-black {
  color: var(--ff-black-500);
}

.txt-clr-white {
  color: var(--clr-base-200);
}

.txt-accent-clr-blue {
  color: var(--clr-blue-500);
}

.txt-accent-clr-red {
  color: var(--clr-red-500);
}

.txt-accent-clr-gray {
  color: var(--ff-gray-500);
}

/* backgroudn colors */
.bg-clr-black {
  background-color: var(--ff-black-500);
}

.bg-clr-white {
  background-color: var(--clr-base-200);
}

.bg-accent-clr-blue {
  background-color: var(--clr-blue-500);
}

.bg-accent-clr-red {
  background-color: var(--clr-red-500);
}

.bg-accent-clr-gray {
  background-color: var(--ff-gray-500);
}



/* font weights */
.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-medium {
  font-weight: var(--fw-medium-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

/* font sizes */
.fs-headings {
  font-size: var(--fs-secondary-lg);
  line-height: 1.2;
}

.fs-regular {
  font-size: var(--fs-primary);
  line-height: 1.2;
}

/* spacing */
.padding-block-500 {
  padding-block: var(--size-500)
}

.padding-block-900 {
  padding-block: var(--size-900)
}

.container {
  --max-width: 1110px;
  --padding: 1rem;

  /* choose smaller between max-width or 100  */
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.three-column {
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
}

.two-column {
  display: grid;
  gap: 16px;
}

/* .two-column-right {
  display: grid;
  gap: 16px;
  grid-template-columns: 80%, 20%;
} */


@media (min-width: 50em) {
  .two-column {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}


/* .two-column-right {}
} */


/* general styling */
body {
  font-size: var(--fs-primary);
  font-family: var(--ff-primary);
  color: var(--ff-black-500)
}

.button {
  border: 0;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100vmax;
  /* padding: 1.25em, 2.5em; */
  padding: 1.2em 2.5em;
  font-weight: var(--fw-medium-bold);
  font-size: var(--fs-primary);
  line-height: 1;
  color: var(--clr-neutral-400);
  background-color: var(--clr-red-500);
  box-shadow: 0 1em 1em -1em var(--clr-red-700);

}

.button:hover,
.button:focus-visible {
  color: var(--clr-neutral-500);
  background-color: var(--clr-red-700);
}

/* navigation */
.primary-header {
  margin-top: var(--size-700);

}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.fa-times {
  display: none;
}

.nav-list {
  font-size: var(--fs-tercerary);
}

@media (max-width: 50em) {

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo-container img {
    width: 40px;
    height: 40px;
  }

  .primary-navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: var(--size-900);
    overflow-x: hidden;
    transition: .5s;
    background: var(--clr-neutral-400);
    box-shadow: 0 0 .5em rgb(0, 0, 0.1);
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-size: var(--fs-tercerary);
    font-weight: var(--fw-medium-bold)
  }

  .nav-list a {
    text-decoration: none;
    transition: .3s;
    color: var(--clr-black-500);
  }

  .nav-list a:hover,
  .nav-list a:focus {
    /* text-decoration: none; */
    color: var(--clr-blue-500);
  }

  .primary-navigation[data-visible] {
    display: block;
    width: 250px;
  }

  .primary-navigation[data-visible] .fa-times {
    display: block;
    /* show the icon when the navigation is visible */
  }

  .mobile-nav-toggle {
    position: absolute;
    left: 30px;
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 1px 4px;
  }

  .mobile-nav-toggle .fa-bars {}

  .fa-times {
    display: none;
    /* initially hide the icon */
    position: absolute;
    /* position the icon on top of the navigation */
    top: var(--size-300);
    /* adjust the top positioning */
    right: var(--size-300);
    /* adjust the right positioning */
    cursor: pointer;
    /* change cursor to pointer */
  }

  /* .opened {
    display: block;
  } */
}